.customChartConfigEditor {
  padding-top: 10px;
}

.customChartLeft {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  max-height: 60vh;
}

.customChartRight {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
}

.label {
  font-weight: 400;
  cursor: pointer;
  margin: 0 8px 0 0;
}