.label {
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  margin: 3px 15px 3px 3px;

  :global(.checkbox) {
    margin-top:0;
    margin-bottom:0;

    input[type=checkbox] {
      position: relative;
      margin-top: 6px;
    }
  }
}

.downloadLabel{
  :global(span){
    margin-right: 10px;
  }
}

.jotted_position_override {
  position: relative;
}
