@import '../../styles/colors.scss';

.recommendation {
  text-align: right;

  :global(.heart-icon) {
    fill: $base-green;
    height: 20px;
    width: 20px;
  }

  :global(.heart-filled-icon) {
    fill: $base-green;
    height: 20px;
    width: 20px;
  }

  :global(.b-btn) {
    height: 26px;
    width: 26px;
    padding: 0;
    color:#000000;
    margin-right: 5px;
    background-color: white;

    :global(.heart-icon) {
    }
  }

  .recommentationText{
  	margin-left: 10px;
    vertical-align: bottom;
  }
}
