@import '../../../styles/colors.scss';

.tabslist {
  display: table-cell;
  width: 285px;
}

.buttonsWrapper {
  margin: 10px 10px 10px 0;
}

.runButtonWrapper {
  text-align: center;
  padding-top: 10;
}

.codeTab {
  display: table-cell;
  padding-left: 10px;
}

.container {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid $base-green;
  padding-bottom: 15px;
}
