@import '../../../styles/colors.scss';

.delete {
  
  :global(.trash-icon-draft) {
    fill: $base-green;
    height: 12px;
  }

  :global(.b-btn) {
    height: 40px;
    width: 300px;
    padding: 0;
    color:#000000;

    :global(.trash-icon-draft) {
      margin-right:5px;
    }

    &:hover,
    &:active,
    &:global(.active),
    &:global(.active:focus) {
      background-color: $danger-bg;

      :global(.trash-icon-draft) {
        fill: #fff;
        margin-right:5px;
      }
    }

    &:focus {
      outline: none;
      background-color: $danger-bg;
    }
  }
  
}