@import '../../../styles/colors.scss';

.imgresponsive {
  width: 100%;
  height: auto;
}

.imgoriginal {
  max-width: 100%;
  height: auto;
}

.button {
  font-size: 13px;
  font-weight: 300;
  height: auto;
  padding: 5px 8px;
  line-height: 1;
  color: $base-green;
  border: 1px solid transparent;
  border-radius: 3px;

  &:global(.active),
  &:active{
    background-color: #fff;
    border: 1px solid #ccc;
    color: $base-green;
  }

  &:hover {
    border-color: #ccc;
    color: $base-green;
  }

  &:focus {
    outline: none;
  }
}