@import '../../styles/colors.scss';

.recommendation {
  text-align: right;

  :global(.subscribe-icon) {
    fill: $base-green;
    height: 20px;
    width: 20px;
  }

  .recommentationText{
  	margin-left: 5px;
    vertical-align: bottom;
  }
}

.heartButtonUnsub {  
    height: 26px;
    width: 105px;
    display: inline-flex;
    padding: 0;
    color:$light-grey-for-text;
    background-color: white;
    text-transform: none;
}

.heartButtonSub {
    height: 26px;
    width: 85px;
    display: inline-flex;
    padding: 0;
    color:$light-grey-for-text;
    background-color: white;
    text-transform: none;
}