.code_select_form {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;

  > select {
    display: inline;
    font-size: 14px;
    border: 1px solid;
    height: 24px
  }
}
