@import '../../../styles/colors.scss';

.blocks {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.block {
  display: inline-flex;
  padding: 45px;
  text-align: center;

  &_big {
    flex-basis: 100%;
  }
}

@media (max-height: 768px) {
  .blocks {
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .block {
    padding: 20px 0;

    &_big, &_small {
      flex-basis: 100%;

      .inn {
        width: 100%;
        padding: 0 25px;
      }
    }
  }
}

.inn {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.orange {
  background-color: rgba($base-orange, .9);

  .button {
    background-color: rgba($base-orange, 0);
  }

  .button:hover {
    background-color: rgba($base-orange, 1);
  }
}

.green {
  background-color: rgba(0, 0, 0, .6);

  .button {
    background-color: rgba($base-green, 0);
  }

  .button:hover {
    background-color: rgba($green-dark, 1);
  }
}

.text {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.buttons {
  text-align: center;
}

@media (max-width: 768px) {
  .text {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .buttons {
    margin-top: 10px;
  }
}

.button {
  position: relative;
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 18px;
  margin-right: 8px;
  transition: all .2s;
  font-weight: 300;
  text-decoration: underline;
}

:global(.typed-cursor){
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
