@import '../../../styles/colors.scss';

.complist {
  display: block;

  :global(.widget) {
    z-index: 1;
    position: relative;
  }
}

.add-widget-wrapper {
  margin: 45px 0 20px;
  font-size: 12px;
  position: relative;
}

.emptyline {
    height: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: $light-grey;
    display: inline-block;
    width: 100%;
    float: left;
    clear: both;
}