.panel {
  display: flex;
  flex-direction: column;
  max-width: 175px;
  height: 100%;

  :global(.b-search-component) {
    padding: 0;
    margin-bottom: 10px;

    :global(.form-control) {
      height: 30px;
      font-size: 14px;
      padding: 3px;
    }

    :global(.b-btn) {
      width: 30px;
      height: 30px;
      padding: 4px;

      svg {
        height: 17px;
      }
    }
  }

}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
//  height: 100%;
  height: 360px;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    display: inline-flex;
    width: 50%;
  }
}