.shareButton{    
	display: initial;
	background: none;
	border: 1px solid #58BD91;
	font-size: 12px;
	padding: 3px 10px 3px 1.75em;
	font-weight: 400;
	margin-left: 10px;

	&:hover{
		color: white;
    	background: #58BD91;
	}

	&:before{
		margin-top: 6px;
	}
}

